{% extends 'base.html.twig' %}
{% block title %}Customer Portal{% endblock %}

{% block header %}
        {% include 'includes/header_with_logo.html.twig' %}
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column mb-5">
        {% if reservations %}
            <div class="text-center">

                <h1>Your Reservations</h1>
            </div>
            <table class="table table-hover">

            {% for reservation in reservations %}
                <thead>
                    <tr>
                        <th>Plate Number</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Where</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ reservation.licensePlate.plateNumber }}</td>
                        <td>{{ reservation.startDateTime|date }}</td>
                        <td>{{ reservation.endDateTime|date }}</td>
                        <td>{{ reservation.parkingSpot.lotName }} - {{ reservation.parkingSpot.spotNumber }}</td>
                    </tr>
                </tbody>
                <p></p>
            {% endfor %}

            </table>
        {% endif %}
    </div>
</div>


    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}


            <a href ="{{ path('customer_make_reservation') }}" role="button" class="btn btn-secondary action-button">Make Reservation</a>
            <a href ="{{ path('customer_profile_management') }}" role="button" class="btn btn-secondary action-button">Manage Profile</a>
            <a href ="/logout" role="button" class="btn btn-danger btn-outline action-button">Log Out</a>
        </div>
    </div>


{% endblock %}
