{% extends 'base.html.twig' %}
{% block title %}Customer Portal{% endblock %}

{% block header %}
    {% include 'includes/header_with_logo.html.twig' %}
{% endblock %}

{% block content %}

    <div class="container">

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {{  form_start(reservationForm) }}
            {{ form_row(reservationForm.startDateTime) }}
            {{ form_row(reservationForm.endDateTime) }}
            {{ form_row(reservationForm.licensePlate) }}

            <div class="row justify-content-center ms-1 me-1">
                <button class="btn btn-success btn-lg" type="submit">Find Reservation</button>
            </div>
        {{ form_end(reservationForm) }}

    </div>

{% endblock %}
